

@model IHtmlString
<script>
	angular.module("spaceAlertModule", ['ngAnimate', 'ngSanitize', 'ui.bootstrap']).value("inputData", @Html.Raw(Model));
</script>
@Scripts.Render("~/bundles/app")
<div ng-app="spaceAlertModule">
	<div ng-controller="InputController">
		<h1>Game Input</h1>
		<h2>Players</h2>
		<div class="btn-group">
			<a ng-repeat="playerCount in playerCounts" class="btn btn-default" ng-model="selectedPlayerCountRadio.model" uib-btn-radio="playerCount">{{playerCount}}</a>
		</div>
		<div>
			<div ng-repeat="player in players" class="panel panel-default player-panel" ng-if="player.isInGame">
				<div class="panel-heading">
					<div class="panel-title">
						<div>
							{{player.title}}
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="player-color-with-selector">
						<img class="player-icon-large" ng-src="~/Content/Images/Players/Male{{player.color.model}}.png"/>
						<div class="btn-group color-button-group">
							<a ng-repeat="color in colors" class="btn btn-default color-selector-button" ng-model="player.color.model" uib-btn-radio="color">
								<span class="badge player-color-selector player-color-selector-{{color}}">&nbsp;</span>
							</a>
						</div>
					</div>
					<button type="button" class="btn btn-primary actions-button" ng-click="openActionsDialog(player, 'lg')">Actions</button>
					<div class="selected-actions-wrapper">
						<img class="board-1" ng-src="~/Content/Images/Boards/{{player.color.model}}1.png"/>
						<img class="board-2" ng-src="~/Content/Images/Boards/{{player.color.model}}2.png"/>
						<div href="#" ng-repeat="action in player.actions" class="selected-action-wrapper selected-action-wrapper-{{$index}}" ng-class="{'cursor': $parent.cursor === $index}">
							<img ng-if="action.description != null" class="action-selected-image" ng-src="~/Content/Images/Actions/{{action.description}}.png"/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<h2>Threats and Tracks</h2>
		<div class="full-board">
			<div class="external-tracks-wrapper">
				<div class="selected-track-wrapper">
					<button class="btn btn-primary add-threats-button" ng-click="openRedThreatsDialog('lg')">Red Threats</button>
					<threat-track track="redTrack" threats="redThreats" track-id="'red'" on-track-clicked="openRedTrackDialog()" class="selected-track"></threat-track>
				</div>
				<div class="selected-track-wrapper">
					<button class="btn btn-primary add-threats-button" ng-click="openWhiteThreatsDialog('lg')">White Threats</button>
					<threat-track track="whiteTrack" threats="whiteThreats" track-id="'white'" on-track-clicked="openWhiteTrackDialog()" class="selected-track"></threat-track>
				</div>
				<div class="selected-track-wrapper">
					<button class="btn btn-primary add-threats-button" ng-click="openBlueThreatsDialog('lg')">Blue Threats</button>
					<threat-track track="blueTrack" threats="blueThreats" track-id="'blue'" on-track-clicked="openBlueTrackDialog()" class="selected-track"></threat-track>
				</div>
			</div>
			<div class="sitting-duck-wrapper">
				<img class="sitting-duck" src="~/Content/Images/board-front.jpg" />
			</div>
			<div class="selected-track-wrapper">
				<button class="btn btn-primary add-threats-button" ng-click="openInternalThreatsDialog('lg')">Internal Threats</button>
				<threat-track track="internalTrack" threats="internalThreats" on-track-clicked="openInternalTrackDialog()" track-id="'internal'" class="selectable-track"></threat-track>
			</div>
		</div>
		<script type="text/ng-template" id="templates/actionsModal">
			@Html.Action("ActionsDialog", "Templates")
		</script>
		<script type="text/ng-template" id="templates/threatTrack">
			@Html.Action("ThreatTrack", "Templates")
		</script>
		<script type="text/ng-template" id="templates/trackModal">
			@Html.Action("TrackDialog", "Templates")
		</script>
		<script type="text/ng-template" id="templates/threatsModal">
			@Html.Action("ThreatsDialog", "Templates")
		</script>
		@*<button type="button" class="btn">Resolve Game</button>*@
	</div>
</div>
