@using BLL
@model IList<IGrouping<int, PL.Models.GameSnapshotModel>>
<h1>Space Alert</h1>

@foreach (var turnSnapshotGroup in Model)
{
	<hr/>
	<h2>Turn @(turnSnapshotGroup.Key) </h2>
	foreach (var snapshot in turnSnapshotGroup)
	{
		<h3>@snapshot.Description</h3>
		<h4>External Threats</h4>
		<ul>
			@foreach (var externalThreat in snapshot.ExternalThreats)
			{
				<li>@externalThreat.Description in @externalThreat.CurrentZone</li>
			}
		</ul>
		<h4>Internal Threats</h4>
		<ul>
			@foreach (var internalThreat in snapshot.InternalThreats)
			{
				<li>@internalThreat.Description in @foreach (var currentStation in internalThreat.CurrentStations.ToList()) { @currentStation } </li>
			}
		</ul>
		<h4>Players</h4>
		<ul>
			@foreach (var player in snapshot.Players)
			{
				<li>Player @player.Index is in @player.StationLocation.ToString()</li>
			}
		</ul>
	}
}
<hr />


